<%- include('plantillas/cabeza.ejs')%>
  <div class="row mt-2">
    <div class="col">
      <img src="img/a1.jpg" alt="" width="100%">
    </div>
    <div class="col">
      <div class="row" style="height: 100%; background-color:rgba(2, 2, 41, 0.85);">
        <div class="col">
          <div class="row" style="color: yellow;">
            <h1>Conocenos</h1>
          </div>
          <div class="row" style="color: cyan;">
            <h1>Inicio</h1>
          </div>
          <div class="row" style="color: cyan;">
            <h1>Novedades</h1>
          </div>
          <div class="row" style="color: cyan;">
            <h1>Cursos</h1>
          </div>

        </div>

        <div class="col">

          <div class="row">
            <div class="card" style="height: 100%; color: white ;background-color: violet;">
              <div class="card-body">
                <h5 class="card-title">Primaria</h5>
                <p class="card-text">Esta seccion esta enfocada en los niños de primaria</p>
                <a href="#" class="btn btn-primary">ir</a>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="card" style="height: 100%; color: white ;background-color: violet;">
              <div class="card-body">
                <h5 class="card-title">Primaria</h5>
                <p class="card-text">Esta seccion esta enfocada en los niños de secundaria</p>
                <a href="#" class="btn btn-primary">ir</a>
              </div>
            </div>

          </div>

        </div>

      </div>
    </div>

  </div>

  <div class="row mt-2" style="background-color: aquamarine;">
    <ul class="nav justify-content-center" style="background-color: aquamarine; border: 1px solid black;">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Primaria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ver todos los cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Profesores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuarios-registro">Registrarse</a>
      </li>
    </ul>

    <div class="row">
      <div class="row mt-2">
        <div class="col">
          <div class="card" style="width: 18rem; background-color: aquamarine; border: 1px solid black;">
            <img src="img/lib.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem; background-color: aquamarine; border: 1px solid black;">
            <img src="img/lib.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem; background-color: aquamarine; border: 1px solid black;">
            <img src="img/lib.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <div class="card" style="width: 18rem; background-color: aquamarine; border: 1px solid black;">
            <img src="img/lib.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem; background-color: aquamarine; border: 1px solid black;">
            <img src="img/lib.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem; background-color: aquamarine; border: 1px solid black;">
            <img src="img/lib.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row mt-2" style="background-color: crimson;">
    <ul class="nav justify-content-center" style="background-color: crimson; border: 1px solid black;">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#" style="color: white;">Secundaria</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">ver todos los cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="color: white;">Profesores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="usuarios-registro" style="color: white;">Registrarse</a>
      </li>
    </ul>

    <div class="row">
      <div class="row mt-2">
        <div class="col">
          <div class="card" style="width: 18rem; background-color: crimson; border: 1px solid black;">
            <img src="img/lib.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="color: white;">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">ver materias</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem; background-color: crimson; border: 1px solid black;">
            <img src="img/lib.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="color: white;">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">ver materias</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 18rem; background-color: crimson; border: 1px solid black;">
            <img src="img/lib.jpg" class="card-img-top" alt="...">
            <div class="card-body" style="color: white;">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">ver materias</a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <%- include('plantillas/pie.ejs')%>