<footer class="bg-dark text-white mt-2">
    <div class="row">
        <div class="col-3 text-reset text-uppercase d-flex aling-items-center">
            <h6>
                <img src="img/icono.png" alt="Logo xs" class="img-logo mr-2">
                VCode
            </h6>
        </div>
        <div class="col-3 text-reset text-uppercase d-flex aling-items-center ">
            <ul class="list-group list-group-flush bg-dark text-white">
                <li class="list-group-item bg-dark text-white">Redes sociales</li>
                <li class="list-group-item bg-dark text-white">Facebook</li>
                <li class="list-group-item bg-dark text-white">Twitter</li>
                <li class="list-group-item bg-dark text-white">Instagram</li>
            </ul>
        </div>
        <div class="col-3 text-reset text-uppercase d-flex aling-items-center ">
            <ul class="list-group list-group-flush bg-dark text-white">
                <li class="list-group-item bg-dark text-white">Preguntas Frecuententes</li>
                <li class="list-group-item bg-dark text-white">¿Puedo tener un tutor personal?</li>
                <li class="list-group-item bg-dark text-white">¿Puedo tener un Maestro personal?</li>
                <li class="list-group-item bg-dark text-white">¿La plataforma tiene algun costo?</li>
            </ul>
        </div>
        
    </div>
</footer>
</div>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>
</body>

</html>