<%- include('../plantillas/cabeza.ejs')%>
    <div class="row mt-4 mb-4">
        <div class="col-6">
            <p class="text-justify mt-4">
                Gracias por interesarte en contactarnos
            </p>
        </div>
        <div class="col-6">
            <ul class="list-group list-group-flush">
                <li class="list-group-item bg-dark text-white">Informacion de directa contacto</li>
                <li class="list-group-item">
                    <h5>Correo: juanpc.559@gmail.com</h5>
                </li>
                <li class="list-group-item">
                    <h5>Telefono: 7351013730</h5>
                </li>
            </ul>
        </div>
    </div>
<%- include('../plantillas/pie.ejs')%>